<section class="order">

    <div ng-show="displayOrdSumm">

        <h3>Order Summary:</h3><span ng-hide="createOrder">{{ orderId }}</span>

        <p class="bold-underline">Books ordered:</p>

        <div class="price-summary">

        <table class="table">
            <thead>
                <tr>
                    <th>sl.</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ob in orderedBooks">
                    <td>{{$index + 1}}</td>
                    <td>{{ob.bookName}}</td>
                    <td>{{ob.quantity}}</td>
                    <td>{{ob.price | currency : '&#x20B9' }}</td>
                </tr>
            </tbody>
        </table>

        <p class="order-subtotal"><span>Subtotal: </span>{{ totalPrice | currency : '&#x20B9'}}</p>

        </div>


        <p class="bold-underline">Selected Address:</p>

        <p>{{selectedAddress.address1}}</p>
        <p>{{selectedAddress.address2}}</p>
        <p>{{selectedAddress.pincode}}</p>
        <p>{{selectedAddress.mobile}}</p>

        <p class="bold-underline" ng-hide="createOrder">Status:</p>
        <span ng-hide="createOrder">{{status}}</span>
        
        <button class="btn" ng-click="cancelOrder()" ng-hide="createOrder" ng-if="valid">Cancel Order</button>

        <button class="btn" ng-click="changeAddress()" ng-show="createOrder">Select different Address</button>

        <br><br>

        <button class="btn" ng-click="addOrder()"  ng-show="createOrder">Place Order</button>
        
    </div>
    
    <div ng-hide="displayOrdSumm">
    
    Your Order : {{orderSummaryId}} is successfully Placed. 
    
    </div>

</section>
